@{
    ViewBag.Title = "無極證道-管理系统-财务管理-提现申请列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header position-relative">
    <h1>
        财务管理
        <small>
            <i class="icon-double-angle-right"></i>
            提现申请列表
        </small>
    </h1>
</div>

<div class="row-fluid" ms-controller="payinfoList">
    <div class="span12">
        <div class="table-responsive">
            <div class="well well-lg">
                <div class="hr"></div>
                <div class="span12">
                    <span>
                       用户名
                    </span>
                    <span>
                        <input type="text" class="input-xs" ms-duplex="Search_Title" />
                    </span>
                    <button type="button" class="btn btn-xs btn-success" ms-click="getList(1)">
                        <i class="icon-search"></i>
                        查询
                    </button>
                    <button type="button" class="btn btn-xs btn-danger" ms-click="Search_Clear">
                        <i class="icon-repeat"></i>
                        清空
                    </button>
                </div>
            </div>
            
            <table id="sample-table-1" class="table table-bordered table-hover no-margin-bottom">
                <thead>
                    <tr>
                        <th><input type="checkbox" ms-duplex-checked="changeAll" /></th>
                        <th>ID</th>
                        <th>用户姓名</th>
                        <th>手机号码</th>
                        <th>申请时间</th>
                        <th>提现金额</th> 
                        <th>已打款</th>
                        <th>审核状态</th>
                        <th>审核时间</th>
                        <th>备注</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ms-if="!ListLoading"><td colspan="15" style="text-align:center;"><i class="icon-spinner icon-spin orange bigger-125"></i></td></tr>
                    <tr ms-if="!ListNoData"><td colspan="14" style="text-align:center;">對不起,沒有數據!</td></tr>
                    <tr ms-repeat="array" ms-visible="ListLoading">
                        <td style="padding:8px;"><input type="checkbox" ms-attr-value="el.Id" ms-duplex-number="changeList" /></td>
                        <td>{{el.Id}}</td>
                        <td><span>{{el.NickName}}</span></td>
                        <td>{{el.Loginphone}}</td>
                        <td>{{el.AddTime| date("yyyy/MM/dd HH:mm")}}</td>
                        <td>{{el.cMoney}}元</td>
                        <td>{{el.HasPay == 1 ? "已打款" : "未打款"}}</td>
                        <td>{{el.State == 2 ? "未通过" : (el.State == 1 ? "通过":"审核中")}}</td> 
                        <td>{{el.VerifyTime| date("yyyy/MM/dd HH:mm")}}</td>
                        <td>{{el.Remark}}</td>
                    </tr>
                </tbody>
            </table>
            <div ms-widget="pager,pp"></div>
        </div>
    </div>
</div>