@{
    ViewBag.Title = "直销同城网-管理系统-讲师管理-" + ViewBag.PageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header position-relative">
    <h1>
        讲师管理
        <small>
            <i class="icon-double-angle-right"></i>
            @Html.Raw(ViewBag.PageTitle)
        </small>
    </h1>
</div>
<div class="row" ms-controller="teacherAddOrUpdate">
    <input type="hidden" id="teacherId_pageDom" value="@ViewBag.teacherId" />
    <div class="col-xs-12">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> <span class="red">*</span>讲师姓名 </label>
                <div class="col-sm-9">
                     <input type="text" ms-duplex="TeacherModel.tName" class="col-xs-9 col-sm-4" />
                    <span class="middle red" ms-visible="$.trim(TeacherModel.tName) === ''">{{errorMsg.tName}}</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> <span class="red">*</span>讲师头衔 </label>

                <div class="col-sm-9">
                    <input type="text" ms-duplex="TeacherModel.Position" class="col-xs-9 col-sm-4" />
                    <span class="middle red" ms-visible="$.trim(TeacherModel.Position) === ''">{{errorMsg.Position}}</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> 讲师头像 </label>
                <div class="col-sm-9">
                    <input type="file" class="input-sm" id="file" name="file" />
                    <div ms-widget="preview" id="preview_img_page"></div>
                </div>
            </div>
            <div class="form-group" ms-visible="imgTip != ''">
                <label class="col-sm-3 control-label no-padding-right"> 图片地址 </label>
                <div class="col-sm-9">
                    <span class="middle red">{{imgTip}}</span>
                    <button type="button" class="btn btn-xs" ms-click="uploadAjaxInfomationImg" ms-visible="viewImgButton">确认上传</button>
                </div>
            </div>

             <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> 讲师简介 </label>
                <div class="col-sm-9">
                    <textarea id="infomationContent_page" name="content" ms-widget="kindeditor" ms-duplex="TeacherModel.tRemark"></textarea>
                </div>
            </div>
            <div class="clearfix form-actions">
                <div class="col-md-offset-4 col-md-6">
                    <button class="btn btn-info" type="button" ms-click="addTeacherFun">
                        <i class="icon-ok bigger-110"></i>
                        {{buttonType}}
                    </button>

                    &nbsp; &nbsp; &nbsp;
                    <button class="btn" type="reset">
                        <i class="icon-undo bigger-110"></i>
                        清空
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>