@{
    ViewBag.Title = "無極證道-管理系统-帮助中心管理-帮助中心分类列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header position-relative">
    <h1>
        帮助中心管理
        <small>
            <i class="icon-double-angle-right"></i>
            帮助中心分类列表
        </small>
    </h1>
</div>
<div class="row-fluid" ms-controller="aboutList">
    <div class="span12">
        <div class="table-responsive">
            <div class="well well-lg">
                <div class="span12">
                    <span>
                        <button type="button" class="btn btn-sm btn-success" data-target="#addUser_Modal" data-toggle="modal" ms-click="HrefSelf(Config.WebUrl + 'FaqManage/TypeAdd','')">
                            <i class="icon-plus-sign"></i>
                            添加分类
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" ms-click="DeleteAboutTypeAllFun"><i class="icon-trash"></i>批量删除</button>
                    </span>
                </div>
            </div>


            <table id="sample-table-1" class="table table-bordered table-hover no-margin-bottom">
                <thead>
                    <tr>
                        <th><input type="checkbox" ms-duplex-checked="changeAll" /></th>
                        <th>ID</th>
                        <th>标题</th>
                        <th>排序</th>
                        <th>数量</th>
                        <th>发布人</th>
                        <th>发布时间</th>
                        <th>修改人</th>
                        <th>修改时间</th>
                        <th width="80px;">操作</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ms-if="!ListLoading"><td colspan="15" style="text-align:center;"><i class="icon-spinner icon-spin orange bigger-125"></i></td></tr>
                    <tr ms-if="!ListNoData"><td colspan="14" style="text-align:center;">對不起,沒有數據!</td></tr>
                    <tr ms-repeat="array" ms-visible="ListLoading">
                        <td><input type="checkbox" ms-attr-value="el.Id" ms-duplex-number="changeList" /></td>
                        <td>{{el.Id}}</td>
                        <td><a href="#" ms-click="HrefFun('@Url.Content("~/FaqManage/List/")',el.Id)">{{el.Name}}</a></td>
                        <td><input type="text" ms-duplex="el.Sort" style="width:40px;" /><a title="修改排序" href="javascript:;" ms-click="EditSort(el.Id,el.Sort)">修改</a>   </td>
                        <td>{{el.AboutCount}}</td>
                        <td>{{el.AddName}}</td>
                        <td>{{el.AddTime| date("yyyy/MM/dd HH:mm")}}</td>
                        <td>{{el.UpdateName}}</td>
                        <td>{{el.UpdateTime| date("yyyy/MM/dd HH:mm")}}</td>
                        <td>
                            <button title="编辑" class="btn btn-xs btn-primary" ms-click="HrefFun('@Url.Content("~/FaqManage/TypeAdd/")',el.Id)"><i class="icon-cog"></i></button>
                            <button title="删除" class="btn btn-xs btn-danger" ms-click="DeleteAboutTypeFun(el.Id)"><i class="icon-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div ms-widget="pager,pp"></div>
        </div>
    </div>
</div>