@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>退出系统</title>
</head>
<body>
    <div>
        正在退出......
    </div>
</body>
</html>
