@{
    ViewBag.Title = "無極證道-管理系统-课程管理-课程话题列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header position-relative">
    <h1>课程管理
        <small>
            <i class="icon-double-angle-right"></i>
            话题列表
        </small>
    </h1>
</div>
<div class="row-fluid" ms-controller="forumList">
    <div class="span12">
        <div class="table-responsive">
            <div class="well well-lg">
                <div class="span12">
                    <span>
                        <button type="button" class="btn btn-info btn-sm" ms-click="VerifyForumAllFun(1)"><i class="icon-eye-open"></i>批量审核</button>
                        <button type="button" class="btn btn-warning btn-sm" ms-click="VerifyForumAllFun(2)"><i class="icon-eye-open"></i>审核不通过</button>
                        <button type="button" class="btn btn-info btn-sm" ms-click="VerifyForumAllFun(0)"><i class="icon-eye-close"></i>取消审核</button>

                        <button type="button" class="btn btn-purple btn-sm" ms-click="ModalFun_ForumIsTop(1)" data-target="#ForumIsTop_Modal" data-toggle="modal"><i class="icon-arrow-up"></i>批量置顶</button>

                        <button type="button" class="btn btn-pink btn-sm" ms-click="RecommendForumgAllFun(1)"><i class="icon-heart"></i>批量推荐</button>
                        <button type="button" class="btn btn-success btn-sm" ms-click="RecommendForumgAllFun(0)"><i class="icon-heart-empty"></i>取消推荐</button>

                        <button type="button" class="btn btn-danger btn-sm" ms-click="DeleteForumgAllFun()"><i class="icon-trash"></i>批量删除</button>
                    </span>

                </div>
                <div class="hr"></div>
                <div class="span12">
                    <span>审核状态:</span>
                    <span>
                        <select class="input-sm" ms-duplex="Search_Verify" ms-change="getList(1)">
                            <option value="-1">全部</option>
                            <option value="0">未审核</option>
                            <option value="1">已审核</option>
                             <option value="2">未通过</option>
                        </select>
                    </span>

                    <span>置顶状态:</span>
                    <span>
                        <select class="input-sm" ms-duplex="Search_Top" ms-change="getList(1)">
                            <option value="2">全部</option>
                            <option value="0">未置顶</option>
                            <option value="1">已置顶</option>

                        </select>
                    </span>
                    <span>类别:</span>
                    <span>
                        <select class="input-sm" ms-duplex="Search_Type" @* ms-change="getList(1)"*@>
                            <option value="0">标题</option>
                            <option value="1">商家</option>

                        </select>
                    </span>

                    <span>
                        <input type="text" class="input-xs" ms-duplex="Search_Keyword" />
                    </span>
                    <button type="button" class="btn btn-xs btn-success" ms-click="getList(1)">
                        <i class="icon-search"></i>
                        查询
                    </button>
                    <button type="button" class="btn btn-xs btn-danger" ms-click="Search_Clear()">
                        <i class="icon-repeat"></i>
                        清空
                    </button>
                </div>
            </div>


            <table id="sample-table-1" class="table table-bordered table-hover no-margin-bottom">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" ms-duplex-checked="changeAll" /></th>
                        <th>编号</th>
                        <th width="8%">话题标题</th>
                        <th width="18%">话题内容</th>
                        <th>发表人</th>
                        <th>发表日期</th>
                        <th>审核状态</th>
                        <th>回复次数</th>
                        <th>点击次数</th>
                        <th>置顶状态</th>
                        <th>推荐状态</th>
                        <th width="90px;">操作</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ms-if="!ListLoading">
                        <td colspan="15" style="text-align: center;"><i class="icon-spinner icon-spin orange bigger-125"></i></td>
                    </tr>
                    <tr ms-if="!ListNoData">
                        <td colspan="14" style="text-align: center;">对不起,没有数据!</td>
                    </tr>
                    <tr ms-repeat="array" ms-visible="ListLoading">
                        <td>
                            <input type="checkbox" ms-attr-value="el.Id" ms-duplex-number="changeList" /></td>
                        <td>{{el.Id}}</td>
                        <td><span ms-attr-title="el.tTitle"><a>{{el.tTitle}}</a></span></td>
                        <td><span ms-attr-title="el.tContent">{{el.tContent|html}}</span></td>
                        <td><span ms-if="el.NickName == null">游客</span><a ms-if="el.NickName!=null">{{el.NickName}}</a></td>
                        <td>{{el.AddTime| date("yyyy/MM/dd")}}</td>
                 
                        <td>
                            <span ms-visible="el.IsVerify != null" ms-class-red="el.IsVerify == 2" ms-class-green="el.IsVerify == 1">{{el.IsVerify == 1 ? "已审核" : (el.IsVerify == 2 ? "未通过" :"未审核")}}</span>
                            <button ms-if="el.IsVerify==1" title="取消审核" class="btn btn-warning btn-xs" ms-click="VerifyForumFun(el.Id,0)"><i class="icon-eye-close"></i></button>
                            <button ms-if="el.IsVerify==0" title="审核" class="btn btn-xs btn-primary" ms-click="VerifyForumFun(el.Id,1)"><i class="icon-eye-open"></i></button>
                        </td>
                        <td>{{el.tCount}}</td>
                        <td>{{el.ClickCount}}</td>
                        <td>
                            <span ms-class-red="el.IsTop == 1">{{getTopStatus(el.IsTop,el.TopBeginTime,el.TopEndTime)}}</span>
                            <button title="修改置顶状态" class="btn btn-primary btn-xs" ms-click="ModalFun_ForumIsTop(2,el)" data-target="#ForumIsTop_Modal" data-toggle="modal">修改</button>
                        </td>
                        <td>
                            <span ms-class-red="el.IsRecommend == 1">{{el.IsRecommend == 1 ? "已推荐" : "未推荐"}}</span>
                            <button ms-if="el.IsRecommend==1" title="取消推荐" class="btn btn-success btn-xs" ms-click="RecommendForumFun(el.Id,0)"><i class=" icon-heart"></i></button>
                            <button ms-if="el.IsRecommend!=1" title="推荐" class="btn btn-xs btn-pink" ms-click="RecommendForumFun(el.Id,1)"><i class="icon-heart-empty"></i></button>
                        </td>

                        <td>
                            <button title="查看" class="btn btn-xs btn-primary" ms-click="edit(el)" data-target="#updateForum_Modal" data-toggle="modal"><i class="icon-edit"></i></button>
                            <button title="删除" class="btn btn-xs btn-danger" ms-click="DeleteForumFun(el.Id)"><i class="icon-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div ms-widget="pager,pp"></div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="ForumIsTop_Modal" tabindex="-1" role="dialog" style="margin-top:170px;">
        <div class="modal-dialog">
            <div class="modal-content" style="width:230px;">
                <div class="modal-header no-padding">
                    <div class="table-header" style="line-height:32px;">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        论坛置顶
                    </div>
                </div>
                <div class="modal-body">
                    <div class="control-group">
                        <label class="control-label" for="form-field-username">置顶状态</label>
                        <div class="controls">
                            <select ms-duplex="TopModal_IsTop">
                                <option value="1">是</option>
                                <option value="0">否</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="form-field-nickname">置顶开始时间</label>
                        <div class="controls">
                            <input type="text" ms-duplex="TopModal_BeginTime" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="form-field-pwd">置顶结束时间</label>
                        <div class="controls">
                            <input type="text" ms-duplex="TopModal_EndTime" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary btn-sm" ms-click="ModalFun_UpdateForumIsTop">提交</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="updateForum_Modal" tabindex="-1" role="dialog" style="margin-top: 80px;">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 1000px;">
                <div class="modal-header no-padding">
                    <div class="table-header" style="line-height: 32px;">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        查看/修改帖子信息
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-2">
                                    <span class="pull-right">回复人：</span>
                                </div>
                                <div class="col-lg-9">

                                    <span>
                                        <input type="text" placeholder="" ms-duplex="ForumModel.UserName" readonly="readonly" /></span>
                                </div>
                            </div>
                            <div class="hr"></div>
                            <div class="row">
                                <div class="col-lg-2">
                                    <span class="pull-right">所属区域：</span>
                                </div>
                                <div class="col-lg-9">
                                    <select ms-duplex-number="ForumModel.TypeId">
                                        <option ms-repeat="tempList" ms-attr-value="el.Id">{{el.Name}}</option>
                                    </select>
                                    @*<span>
                                    <input type="text" placeholder="" ms-duplex="ReplyTemp" readonly="readonly" /></span>*@
                                </div>
                            </div>
                            <div class="hr"></div>
                            <div class="row">

                                <div class="col-lg-2">
                                    <span class="pull-right">所属品牌：</span>
                                </div>
                                <div class="col-lg-9">
                                    <select ms-duplex-number="ForumModel.Bid">
                                        <option ms-repeat="brandList" ms-attr-value="el.Id">{{el.FirstEng}}|{{el.Name}}</option>

                                    </select>
                                    @*<input type="text" class="input-xs" ms-duplex="ReplyTopical" readonly="readonly" />*@
                                </div>
                            </div>
                            <div class="hr"></div>
                            <div class="row">

                                <div class="col-lg-2">
                                    <span class="pull-right">帖子主题：</span>
                                </div>
                                <div class="col-lg-9">

                                    <input type="text" class="input-xs" ms-duplex="ForumModel.Title" @*readonly="readonly"*@ />
                                </div>
                            </div>
                            <div class="hr"></div>
                            <div class="row">
                                <div class="col-lg-2">
                                    <span style="line-height: 35px;" class="pull-right">回复内容：</span>
                                </div>

                                <div class="col-lg-9">
                                    <textarea name="content" id="infoTypeContent_page"  ms-widget="kindeditor" ms-duplex="ForumModel.Content" style="resize: none; width: 300px; height: 100px;"></textarea>
                                </div>
                            </div>

                            <div class="hr"></div>
                            <div class="row">
                                <div class="col-lg-2">
                                    <span class="pull-right">置顶状态：</span>
                                </div>
                                <div class="col-lg-9">
                                    <span>
                                        <input type="radio" ms-duplex-number="ForumModel.IsTop" value="1" />是</span>
                                    <span>
                                        <input type="radio" ms-duplex-number="ForumModel.IsTop" value="0" />否</span>
                                </div>
                            </div>

                            <div class="hr"></div>
                            <div class="row">
                                <div class="col-lg-2">
                                    <span class="pull-right">置顶结束时间：</span>
                                </div>
                                <div class="col-lg-9">

                                    <input type="text" placeholder="" ms-duplex="ForumModel.TopEndTime" />
                                </div>
                            </div>

                            <div class="hr"></div>
                            <div class="row">
                                <div class="col-lg-2">
                                    <span class="pull-right">审核状态：</span>
                                </div>
                                <div class="col-lg-9">
                                    <span>
                                        <input type="radio" ms-duplex-number="ForumModel.IsVerify" value="1" />是</span>
                                    <span>
                                        <input type="radio" ms-duplex-number="ForumModel.IsVerify" value="0" />否</span>
                                </div>
                            </div>
                            <div class="hr"></div>
                            <div class="row">
                                <div class="col-lg-2">
                                    <span class="pull-right">推荐状态：</span>
                                </div>
                                <div class="col-lg-9">
                                    <span>
                                        <input type="radio" ms-duplex-number="ForumModel.IsRecommend" value="1" />是
                                    </span>
                                    <span>
                                        <input type="radio" ms-duplex-number="ForumModel.IsRecommend" value="0" />否
                                    </span>
                                </div>
                            </div>
                            <div class="hr"></div>
                            <div class="row">
                                <div class="col-lg-2">
                                    <span class="pull-right">回复时间：</span>
                                </div>
                                <div class="col-lg-9">

                                    <input type="text" placeholder="" ms-duplex="ForumModel.AddTime" readonly="readonly" />
                                </div>
                            </div>
                            <div class="hr"></div>
                            <div class="row">
                                <div class="col-lg-2">
                                    <span class="pull-right">联系QQ：</span>
                                </div>
                                <div class="col-lg-9">

                                    <input type="text" placeholder="" ms-duplex="ForumModel.TouristQQ" />
                                </div>
                            </div>
                            <div class="hr"></div>
                            <div class="row">
                                <div class="col-lg-2">
                                    <span class="pull-right">联系电话：</span>
                                </div>
                                <div class="col-lg-9">

                                    <input type="text" placeholder="" ms-duplex="ForumModel.TouristPhone" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary btn-sm" ms-click="update()">修改</button>
                </div>
            </div>
        </div>
    </div>
</div>
